# Python
__pycache__/
*.so
.Python
*.egg-info/
*.pyc 
*.pyd 
*.pyo
test.py

# Virtual Environment
venv/
jupyter_env/
.env/

# Jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Windows
*Zone.Identifier

# IDE
.vscode/
.idea/
*.code-workspace